/* ==UserStyle==
@preprocessor   stylus
@name           Google Gbar Light
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Light mode styles for the 2011 and 2013 gbars
@author         CallyHam
@var checkbox black2011 "Black Text (2011)" 0
@var checkbox blue2011 "Blue Active Highlight (2011)" 0
==/UserStyle== */

@-moz-document domain("google.com"), domain("youtube.com") {
  [theme="2011"]#gbar,
  [theme="2013"]#gbar {
    background-color: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
  }
  [theme="2011"] .gbar-item,
  [theme="2013"] .gbar-item {
    color: #666666 !important;
  }
  [theme="2011"] .gbar-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  [theme="2013"] .gbar-item:hover {
    color: #000 !important;
  }
  [theme="2011"] .gbar-item.active,
  [theme="2013"] .gbar-item.active {
    color: #000 !important;
  }
  [theme="2011"] .gbar-item.active {
    box-shadow: inset 0 2px 0 #dc4a38;
  }
  [theme="2011"] .gbar-item-dropdown > .gbar-item:after,
  [theme="2013"] .gbar-item-dropdown > .gbar-item:after {
    border-top: 3px solid #666666;
  }
  [theme="2011"] .gbar-item-dropdown.active > .gbar-item:after {
    border-top: 3px solid #36c;
  }
  [theme="2013"] .gbar-item-dropdown.active > .gbar-item:after,
  [theme="2013"] .gbar-item-dropdown > .gbar-item:hover:after {
    border-top: 3px solid #000;
  }
  [theme="2011"] .gbar-item-dropdown.active .gbar-item-icon.settings {
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNiAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik02LjUgM0w1LjUgMy41TDMuNSAxLjVMMS41IDMuNUwzLjUgNS41TDMgNi41SDBWOS41SDNMMy41IDEwLjVMMS41IDEyLjVMMy41IDE0LjVMNS41IDEyLjVMNi41IDEzVjE2SDkuNVYxM0wxMC41IDEyLjVMMTIuNSAxNC41TDE0LjUgMTIuNUwxMi41IDEwLjVMMTMgOS41SDE2VjYuNUgxM0wxMi41IDUuNUwxNC41IDMuNUwxMi41IDEuNUwxMC41IDMuNUw5LjUgM1YwSDYuNVYzWk04IDEwLjc1QzkuNTE4NzggMTAuNzUgMTAuNzUgOS41MTg3OCAxMC43NSA4QzEwLjc1IDYuNDgxMjIgOS41MTg3OCA1LjI1IDggNS4yNUM2LjQ4MTIyIDUuMjUgNS4yNSA2LjQ4MTIyIDUuMjUgOEM1LjI1IDkuNTE4NzggNi40ODEyMiAxMC43NSA4IDEwLjc1WiIgZmlsbD0iIzMzNjZDQyIvPgo8L3N2Zz4K");
  }
  [theme="2011"] .gbar-item-icon.settings,
  [theme="2013"] .gbar-item-icon.settings {
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNiAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik02LjUgM0w1LjUgMy41TDMuNSAxLjVMMS41IDMuNUwzLjUgNS41TDMgNi41SDBWOS41SDNMMy41IDEwLjVMMS41IDEyLjVMMy41IDE0LjVMNS41IDEyLjVMNi41IDEzVjE2SDkuNVYxM0wxMC41IDEyLjVMMTIuNSAxNC41TDE0LjUgMTIuNUwxMi41IDEwLjVMMTMgOS41SDE2VjYuNUgxM0wxMi41IDUuNUwxNC41IDMuNUwxMi41IDEuNUwxMC41IDMuNUw5LjUgM1YwSDYuNVYzWk04IDEwLjc1QzkuNTE4NzggMTAuNzUgMTAuNzUgOS41MTg3OCAxMC43NSA4QzEwLjc1IDYuNDgxMjIgOS41MTg3OCA1LjI1IDggNS4yNUM2LjQ4MTIyIDUuMjUgNS4yNSA2LjQ4MTIyIDUuMjUgOEM1LjI1IDkuNTE4NzggNi40ODEyMiAxMC43NSA4IDEwLjc1WiIgZmlsbD0iIzU1NTU1NSIvPgo8L3N2Zz4K");
  }
  [theme="2013"] .gbar-item:hover > .gbar-item-icon.settings {
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNiAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik02LjUgM0w1LjUgMy41TDMuNSAxLjVMMS41IDMuNUwzLjUgNS41TDMgNi41SDBWOS41SDNMMy41IDEwLjVMMS41IDEyLjVMMy41IDE0LjVMNS41IDEyLjVMNi41IDEzVjE2SDkuNVYxM0wxMC41IDEyLjVMMTIuNSAxNC41TDE0LjUgMTIuNUwxMi41IDEwLjVMMTMgOS41SDE2VjYuNUgxM0wxMi41IDUuNUwxNC41IDMuNUwxMi41IDEuNUwxMC41IDMuNUw5LjUgM1YwSDYuNVYzWk04IDEwLjc1QzkuNTE4NzggMTAuNzUgMTAuNzUgOS41MTg3OCAxMC43NSA4QzEwLjc1IDYuNDgxMjIgOS41MTg3OCA1LjI1IDggNS4yNUM2LjQ4MTIyIDUuMjUgNS4yNSA2LjQ4MTIyIDUuMjUgOEM1LjI1IDkuNTE4NzggNi40ODEyMiAxMC43NSA4IDEwLjc1WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg");
  }
  [theme="2011"] .gbar-spacer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
  }
  [theme="2013"] .gbar-spacer {
    background: #d2d2d2;
  }
  if black2011 {
    [theme="2011"] .gbar-menu-item:hover {
      background-color: #eeeeee !important;
    }
    [theme="2011"] .gbar-item-dropdown.active > .gbar-item {
      color: #000 !important;
    }
    [theme="2011"] .gbar-item-dropdown.active > .gbar-item::after {
      border-top: 3px solid #000;
    }
    [theme="2011"] .gbar-menu-item {
      color: #000 !important;
    }
    [theme="2011"] .gbar-account-menu-link {
      color: #000 !important;
    }
    [theme="2011"] .gbar-item-dropdown.active .gbar-item-icon.settings {
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNiAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik02LjUgM0w1LjUgMy41TDMuNSAxLjVMMS41IDMuNUwzLjUgNS41TDMgNi41SDBWOS41SDNMMy41IDEwLjVMMS41IDEyLjVMMy41IDE0LjVMNS41IDEyLjVMNi41IDEzVjE2SDkuNVYxM0wxMC41IDEyLjVMMTIuNSAxNC41TDE0LjUgMTIuNUwxMi41IDEwLjVMMTMgOS41SDE2VjYuNUgxM0wxMi41IDUuNUwxNC41IDMuNUwxMi41IDEuNUwxMC41IDMuNUw5LjUgM1YwSDYuNVYzWk04IDEwLjc1QzkuNTE4NzggMTAuNzUgMTAuNzUgOS41MTg3OCAxMC43NSA4QzEwLjc1IDYuNDgxMjIgOS41MTg3OCA1LjI1IDggNS4yNUM2LjQ4MTIyIDUuMjUgNS4yNSA2LjQ4MTIyIDUuMjUgOEM1LjI1IDkuNTE4NzggNi40ODEyMiAxMC43NSA4IDEwLjc1WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg") !important;
    }
  }
  if blue2011 {
    [theme="2011"] .gbar-item.active {
      box-shadow: inset 0 2px 0 #36c;
    }
  }
}
