/* ==UserStyle==
@preprocessor   stylus
@name           Remove Extra Google Elements
@namespace      github.com/callyham/google-gbar
@version        1.0.2
@description    Removes elements from google that are already present in some form on the gbar.
@author         CallyHam
@var checkbox personalbuttons "Hide Personal Buttons" 0
==/UserStyle== */

@-moz-document domain("google.com") {
    /* Gplex */
    #ugf-account-button,
    #ugf-homepage-links,
    #ugf-apps,
    #ugf-settings-tab,
    .ugf-plus-buttons {
        display: none !important;
    }
    
    if personalbuttons {
        #ugf-navbar-right {
            display: none !important;
        }
    } else {
        #ugf-personal-buttons {
            margin-right: 0;
        }
        #ugf-settings-button {
            display: none !important;
        }
    }
    
    /* Actual Google (Will probably break at some point) */
    .Ne6nSd,
    .Q3DXx:not(.NDnoQ) {
        display: none !important;
    }
}
